body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

h2 {
    margin-bottom: 20px;
}

.order {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 5px solid #ff9900;
    box-shadow: 0px 1px 3px #ccc;
}

.order h3 {
    margin: 0 0 10px;
}

.order p {
    margin: 5px 0;
}
